.bulletin
  %table.messages

  - if current_user
    .text
      = text_field_tag :text
    .letter-count 140
    .submit
      = button_tag "Post", :class => "message_submit"
  - else
    = link_to "Login to Post!", login_path