%h1 Listing tracks
%table
  %thead
    %tr
      %th Name
  %tbody
    - @tracks.each do |track|
      %tr
        %td= link_to track[get_field_index(Track, "tname")], track_path(track[0])
%br
  = link_to "Back", root_path