%h1 Consoles
%table
  %thead
    %tr
      %th Name
  %tbody
    - @consoles.sort_by{|c| c[get_field_index(Console, "gcname")]}.each do |console|
      %tr
        %td= link_to console[get_field_index(Console, "gcname")], console_path(console[0])
%br
  = link_to "Back", root_path