%h1 Listing games
%table
  %thead
    %tr
      %th Name
  %tbody
    - @games.each do |game|
      %tr
        %td= link_to game[get_field_index(Game, "gname")], game_path(game[0])
%br
  = link_to "Back", root_path