%h1 Games
%table
  %tbody
    - @games.sort_by{|c| c[get_field_index(Game, "gname")]}.each do |game|
      %tr
        %td= link_to game[get_field_index(Game, "gname")], game_path(game[0])
%br
  = link_to "Back", root_path