%h1 Listing characters
%table
  %thead
    %tr
      %th Name
  %tbody
    - @characters.sort_by{|c| c[get_field_index(Character, "cname")]}.each do |character|
      %tr
        %td= link_to character[get_field_index(Character, "cname")], character_path(character[0])
%br
  = link_to "Back", root_path