%h1 Items
%table
  %thead
    %tr
      %th Name
  %tbody
    - @items.sort_by{|c| c[get_field_index(Item, "iname")]}.each do |item|
      %tr
        %td= link_to item[get_field_index(Item, "iname")], item_path(item[0])
%br
  = link_to "Back", root_path