@font-face
{
  font-family: mariokartds;
  src: font-url('mariokartds.ttf');
}

body
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #bbbbbb;
  color: #222277;
  line-height: 1.4;
}

.header
{
  text-align: center;
}

h1, h2, .header
{
  width: auto;
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 10px;
  font-family: mariokartds;
}

.menu
{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.menu a
{
  font-weight: normal;
}

.menu li
{
  display: inline;
  margin: 0;
  padding: 20px;
}

.content
{
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  min-width: 800px;
  background-color: #dddddd;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(0,0,0,.5);
  border-radius: 15px;
  padding: 10px;
}

a
{
  color: #3344dd;
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:visited:hover
{
  color: #5566ff;
}

a:visited
{
  color: #8822cc;
}

.picture img
{
  max-width: 300px;
  max-height: 300px;
  box-shadow: 5px 5px 15px rgba(0,0,0,.5);
  border-radius: 5px;
  background-color: #eeeeee;
}

ul
{
  list-style-type: circle;
}

.username, .admin
{
  float: left;
  font-weight: bold;
}

.admin:before
{
  content: "(";
  padding-left: .15em;
}

.admin:after
{
  content: ")";
}

.username:before
{
  color: #555555;
  font-size: 0.75em;
  font-weight: normal;
  content: "Logged in as ";
  padding-right: 0.15em;
}

.anonymous:before
{
  float: left;
  font-weight: normal;
  content: "Not logged in";
  color: #555555;
    font-size: 0.75em;
    font-weight: normal;
}

.logout, .login, .signup
{
  float: right;
  display: inline;
}

.signup:after
{
  color: #555555;
    font-size: 0.75em;
    font-weight: normal;
  content: " or ";
  padding-left: 0.15em;
  padding-right: 0.15em;
}

.header:before,
.header:after,
.user-info:before,
.user-info:after {
    content: " ";
    display: table;
}

.header:after,
.user-info:after {
    clear: both;
}

.messages
{
  font-size: 0.8em;
  border: 1px solid rgba(0,0,0,.1);
  border-spacing: 0px;
  line-height: 1.2;
}

.message, .poster, .delete-post
{
  padding: .5em;
}

.message
{
  word-break: break-word;
  width: 100%;
}

.post:nth-child(even) {
    background-color: rgba(0,0,0,.1);
}

.poster
{
  vertical-align: top;
  font-weight: bold;
  text-align: right;
}

.bulletin
{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#text
{
  width: 100%;
}

.letter-count
{
  font-size: 0.75em;
  color: #555555;
  font-weight: bold;
}

.warning{
  color: #EE5555;
}

.letter-count:after
{
  font-weight: normal;
  content: " characters remaining";
}

.letter-count, .submit
{
  text-align: right;
}

.delete-post
{
  cursor: pointer;
  vertical-align: top;
}

#query
{
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
}

.search
{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.search-results
{
  margin-top: .5em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0,0,0,.1);
}

.search-result
{
  padding: 5px;
}

.search-result:nth-child(even) {
    background-color: rgba(0,0,0,.1);
}

.search-result-link
{
  font-weight: normal;
}

.login-post
{
  text-align: right;
  padding: 5px;
}